# Análise de dados - Estatística básica
A estatistica pode responder diversas perguntas como:

    - Qual a probabilida?
    - Se algo mudar mihas vendas podem aumentar?
    - Quantas pessoas estarão dispostas a pagar?
    - Como melhorar as vendas?
    - Quanto eu devo fabricar para vender ao máximo de pessoas?
    - Se aumentar o preço quantas pessoas estão dispostas a pagar?
    - Qual melhor meio de marketing mais eficaz?
    
Estatística não pode responder:

    - Porque o cliente gosta desse produto?
           * resp: por que é vermleho
           * Mas o preto vende mais!

# Pergunta para depois:
Por que outliers influenciam na média mas não na mediana?

# Bibliotecas

In [2]:
import numpy as np
import pandas as pd

# Aquisição de dados

In [3]:
# Vamos usar o dataframe titanic apenas para exemplificar o estudo
df = pd.read_csv("train.csv")
df = df.drop(df[['Cabin']], axis=1)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q

In [4]:
# se tiver missing values impossivel calcular a média e mediana, vamos elminar?
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [5]:
# eliminando missing values (só teste, por GOD não façam isso)
df = df.dropna()
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [6]:
df.shape

(712, 11)

# Média

A média é a base mais comum para justificar algo, pegamos
o número total de observações dividimos pelo total, por exemplo:
        
        - Saques diário em banco: 10, 20, 15, 35 reais
        - Qual a média de saque diário?
        - A soma de todos os saques dividido por número de saques:
            - 10 + 20 + 15 + 35 / 4 = 20 reais por dia

In [7]:
# exemplo média de uma coluna com numpy:
media_age = np.mean(df.Age)
print(f'Média de idade no Titanic: {int(media_age)} anos')

# ou pandas:

media_age_pd = df.Age.mean()
print(f'Média de idade no Titanic: {int(media_age_pd)} anos')

Média de idade no Titanic: 29 anos
Média de idade no Titanic: 29 anos

# Média ponderada
Na média ponderada cada valor é multiplicado por um peso, e sua divisão se da pela soma desses pesos.<br>
Supomos notas de avaliacão, 3 notas valendo 10, primeira avaliação tem peso 2, segunda peso 3 e terceira peso 5,
vamos calcular a média ponderada:

In [4]:
notas = [7, 9, 8]
pesos = [2, 3, 5]
# Soma de cada nota multiplicado pelo seu peso
nota = (notas[0]*pesos[0]) + (notas[1]*pesos[1]) + (notas[2]*pesos[2])
# divide esse resultado pela soma de seus pesos
media_ponderada = nota/sum(pesos)

print(f'A media ponderada é {media_ponderada}')

A media ponderada é 8.1

# Mediana

Organiza os dados em ordem crescente e 50% dos nossos dados estão abaixo 
e 50% estão acima da mediana, isso para valores impares, para pares não existe
um valor central, então para isso fazemos a média dos 2 valores centrais para achar a mediana. Exemplo de cálculo da mediana:

In [8]:
# exemplo mediana de uma coluna com numpy:
mediana_age = np.median(df.Age)
print(f'Mediana de idade no Titanic: {mediana_age} anos')

# ou pandas:

mediana_age_pd = df.Age.median()
print(f'Médiana de idade no Titanic: {mediana_age_pd} anos')

Mediana de idade no Titanic: 28.0 anos
Médiana de idade no Titanic: 28.0 anos

# Moda

Moda é o número que aparece mais vezes em um conjunto. Se somente um numero aparece mais vezes então dizemos que e um conjunto unimodal.

Existe outro numero que aparece mesma quantidade de vezes? se sim então é um conjunto bimodal

Nenhum numero aparece mais que os outros então é um conjunto sem moda.

In [9]:
# value_ counts mostra quantas vezes cada valor se repete
# note que temos 11 pessoas com 36 anos, essa será a moda.
df.Age.value_counts()

24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: Age, Length: 88, dtype: int64

In [10]:
# calculando a moda com biblioteca statistics
import statistics
moda = statistics.mode(df.Age)
print(f'No titanic, a maioria das pessoas tem {moda} anos')

No titanic, a maioria das pessoas tem 24.0 anos

In [11]:
# moda tbm pode ser calculada pra variáveis categoricas, por exemplo:
# Existem mais homens ou mulheres no titanic?
sexo = statistics.mode(df.Sex)

# Trocando male por masculino e female por feminino
if sexo =='male':
    sexo = "masculino"
else:
    sexo = "feminino"
    
print(f'No titanic, a maioria das pessoas são do sexo {sexo}')

No titanic, a maioria das pessoas são do sexo masculino

# Detectando outliers com a média

In [12]:
# Simulando erro de digitação, acrescentando uma pessoa com 100 mil anos

df1 = df.copy()
df1.loc[1, "Age"] = 100000
df1.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,100000.0,1,0,PC 17599,71.2833,C

In [13]:
# Note que a média de idade subiu para 172 anos (outlier)

print(df1.Age.median())
print(df1.Age.mean())

28.0
170.03816011235955

In [14]:
diagrama_caixa(df1.Age)

NameError: name 'diagrama_caixa' is not defined

In [ ]:
# histograma abaixo esta simetrico pois não há outliers
histograma(df.Age)

In [ ]:
#histograma assimetrico deslocado a esquerda pois há outliers
histograma(df1.Age)

# Função Limites (Quartis)
Medidas separatrizes

In [ ]:
''' Função para detectar outliers usando as regras do quartis
    Consiste dividir nossos dados em quantis 25% e 75% (Q1 e Q3)
    a amplitude ou variação interquartil (IQR)é a diferença entre Q3 e Q1
    assim definimos os limites inferior = Q1 - 1,5 * IQR
    e os limites superiores que são     = Q3 + 1.5 * IQR
    Tudo que está abaixo ou acima dos limites são considerados outliers
'''
def limites(coluna):
    q1 = coluna.quantile(0.25) #pega primeiro quartil em 25%
    q3 = coluna.quantile(0.75) #pega terveiro quartil em 75%
    amplitude = q3 - q1
    lim_inferior = q1 - 1.5 * amplitude
    lim_superior = q3 + 1.5 * amplitude
    return lim_inferior, lim_superior

# Função de remoção de outliers

In [ ]:
# Função que irá remover os limites superior e inferior:
def excluir_outliers(df, nome_coluna):
    # pega as qnt de linhas do df (0 = linhas e 1 = colunas)
    qnt_linhas = df.shape[0] 
    
    # pega os limites
    lim_inf, lim_sup = limites(df[nome_coluna])
    
    # filtra no df somente valores (lim inf <= DF <= lim sup)
    df = df.loc[(df[nome_coluna] >= lim_inf) & (df[nome_coluna] <= lim_sup) , :]
    
    # pega qnt de linhas removidas
    linhas_removidas = qnt_linhas - df.shape[0]
    
    # retorna DF filtrado e nº de linhas removidas
    return df, linhas_removidas

# Funções Gráficas

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

def diagrama_caixa(coluna):
    # define um grafico do lado do outro 1 linha 2 colunas(plt do matplotlib)
    # ax1 = eixo do 1º grafico e ax2 do segundo.
    fig, (ax1, ax2) = plt.subplots(1, 2) 
    
    # seta tamanho do grafico
    fig.set_size_inches(15,5) 
    
    # cria grafico automático com os valores da coluna recebida
    sns.boxplot(x=coluna, ax = ax1)
    
    # cria grafico automático com os valores da coluna recebida
    # com a diferença que ax2 vai ficar entre os limites inferior e superior
    # então chamamos a função "limites"
    ax2.set_xlim(limites(coluna))
    sns.boxplot(x=coluna, ax = ax2)

In [ ]:
def histograma(coluna):
    plt.figure(figsize=(15,5))
    #sns.distplot(coluna, hist=True)
    sns.histplot(coluna, kde=True)

# Quantil
Quantil ou percentis, é a função que divide os dados em partes, um quantil 0.5 divide os dados em 50% abaixo e 50% acima, e um quantil 0.5 é justamente a mediana. Função numpy é NP.QUNATIL().

O quartil é um dos quantil mais usado na estatística (entre outros) e podemos usar a regra dos quartis para detectar outliers em conjunto de dados. Em suma, a regra dos quartis divide nosso conjunto de dados em 4 partes sendo elas Q1 = 25%, Q2 = 50% e Q3 = 75%

In [ ]:
# Calculando quantil 0.5
np.quantile(df.Age, 0.5)

In [ ]:
# pegando conjunto de quantis
np.quantile(df.Age, [0, 0.25, 0.50, 0.75, 1])

In [ ]:
# podemos usar tbm np.linspace (inicio, fim, qnt de quantis)
np.quantile(df.Age, np.linspace(0, 1 , 5))

Com base nos quantis, podemos afirmar que:

    - 25% estão abaixo de 20 anos
    - 50% abaixo de 28 anos
    - 75% abaixo de 38 ou 25% acima de 38 anos
    - 100% das pessoas tem de 80 anos abaixo.

In [ ]:
# para confirmar veremos as idades máxima e minima da tabela.
df.Age.min(), df.Age.max()

In [ ]:
# boxplot
df.boxplot(['Age'], vert=False, figsize=(15, 5))
plt.show()

# Medidas de dispersão
São medidas de espalhamento dos dados, ou seja, o quanto os dados estão espalhados em relação a média. A medida de dispersão pode ser calculada usando alguns métodos:

- Variância amostral: quando se calcula apenas uma amostra da população, nesse caso a divisão é feita por (n - 1) onde n é o numero de amostras.
- Variância populacional quando se calcula o todo da população a ser medida.
- Desvio Médio: É a raiz da variância, que nos dá um valor de ajuste de +- a variância.
- Desvio médio absoluto:

In [ ]:
# Tenho uma tabela de produção de funcionários ao longo de 5 dias
df_prod = pd.read_csv('producao.csv', sep=';')
df_prod

#### Calculando na unha (sem auxilio do np)

In [ ]:
#OBS abs() = módulo do valor

desvio = abs((7-7.2)+(4-7.2)+(9-7.2)+ (11-7.2)+ (5-7.2))
variancia = abs((7-7.2)**2 +(4-7.2)**2 +(9-7.2)**2 + (11-7.2)**2 + (5-7.2)**2)/5
desvio_padrão = np.sqrt(variancia) #raiz da variancia
desvio_padrão_medio = desvio/5

print(f"Desvio = {desvio}")
print(f"Variância = {variancia}")
print(f"Desvio padrão = {desvio_padrão}")
print(f"Desvio padrão médio = {desvio_padrão_medio}")

### Média

In [ ]:
# calculando a média para cada funcionário e colocando numa lista:
lista_media = []

for func in df_prod.columns:
    media = df_prod[func].mean()
    lista_media.append(media) 
print(lista_media)

#### Com base na tabela vamos calcular as variâncias para responder:
Qual funcionário mantém o padrão de produtividade?<br>
Qual funcionário produz de forma desigual?

## Variância populacional
Variância é quão os dados estão distantes da média (módulo - valores positivos). por exemplo, numa fábrica, a variancia mede a taxa de variação da produção de cada funcionário em relação a si mesmo, pois nem todos produzem a mesma quantidade todos os dias. Quanto menor a variância mais próximo da média esse funcionário produz.

- Para cálculo da variância usamos np.var()
- Onde o parâmetro ddof:
    - Zero (0) para variancia populacional
    - Um (1) para variância amostral

Então quando fazemos o cálculo da variância amostral, devemos definir ddof=1.

In [ ]:
# calculando a variância para cada funcionário e colocando numa lista:
lista_variancia = []

for func in df_prod.columns:
    var = np.var(df_prod[func], ddof=0)
    lista_variancia.append(var)

display(lista_variancia)

Sabendo-se que, quanto maior for a variância, mais dispersos estão em relação a média, e quanto menor for a variância, mais homogênios estarão em relação a média.

Então podemos responder que o FUNCIONÁRIO D mantém o padrão de produtividade, e o FUNCIONÁRIO C produz de forma desigual.

# Desvio padrão
Os dados de variância são muito sensíveis a outliers (valores fora do padrão), e além de serem elevados ao quadrado podem camuflar sua interpretação, uma alternativa para isso é usar outra medida de dispersão, o desvio padrão.

Desvio padrão nada mais é do que um ajuste de mais ou menos a raiz quadrada da variância.

In [ ]:
lista_DP = []

for valor in lista_variancia:
    DP = np.sqrt(valor)
    lista_DP.append(DP)

display(lista_DP)

#### Com base no desvio padrão podemos responder:
    - Qual a produtividade diária do funcionário A?

In [ ]:
print(f'O funcionário A produz {lista_media[0]} +- {lista_DP[0]} por dia!')
print(f'Em torno de {(lista_media[0] - lista_DP[0]):,.1f} a {lista_media[0] + lista_DP[0]} peças por dia!')

# Desvio médio absoluto
Desvio médio absoluto é a média dos desvios, e se aproxima muito do desvio padrão, porém por não ser elevado ao quadrado como desvio padrão ele está menos propenso a sofrer com outliers.

In [ ]:
desvios = df_prod['Func A'] - np.mean(df_prod['Func A'])
DMA = np.mean(desvios)
print(abs(DMA))

# Resposta da pergunta para depois!

In [15]:
#df1 tem um outlier na idade de 100.000 anosw
df.Age.mean(), df.Age.median(), df1.Age.mean(), df1.Age.median()

(29.64209269662921, 28.0, 170.03816011235955, 28.0)